In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_to_load = "/Users/kathrynharris/Documents/matplotlib/Resources/mouse_metadata.csv"
study_results_to_load = "/Users/kathrynharris/Documents/matplotlib/Resources/study_results.csv"

# Read the mouse data and the study results
#mouse_metadata_to_load = pd.read_csv(mouse_metadata_path)
#study_results_to_load = pd.read_csv(study_results_path)

In [33]:
# Let's visualize

# mouse_metadata.head

In [34]:
# Next let's see the study_results

# study_results.head

In [35]:
# Combine the data into a single dataset

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_metadata = pd.read_csv(mouse_metadata_to_load)
study_results = pd.read_csv(study_results_to_load)

# Combine the data into a single dataset
study_data = pd.merge(study_results, mouse_metadata, on='Mouse ID')

# Display the data table for preview
study_data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [36]:
# check to see if there are duplicats

study_data['Mouse ID'].value_counts().head()

g989    13
x401    10
g288    10
a275    10
w151    10
Name: Mouse ID, dtype: int64

In [37]:
# There are duplicates, socheck g989 to see if it is listed for more than one drug
mice_data = study_data.set_index('Mouse ID')
mouse = mice_data.loc['g989', :]
mouse.head()

,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
Mouse ID,,,,,,,
g989,0,45.000000,0,Propriva,Female,21,26
g989,0,45.000000,0,Propriva,Female,21,26
g989,5,48.786801,0,Propriva,Female,21,26
g989,5,47.570392,0,Propriva,Female,21,26
g989,10,51.745156,0,Propriva,Female,21,26

In [38]:
# Delete the extra data (cleaning!)

clean_data_mice = mice_data.drop(index = 'g989')
clean_study_data = clean_data_mice.reset_index()
clean_study_data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22